* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: hsla(0, 0%, 100%, 0.04);
  margin-inline: auto;
  width: min(575px, 90%);
  padding: 32px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.21);
}

#height,
#weight {
  width: 150px;
  height: 25px;
  margin-top: 30px;
}

#weight-guide {
  text-align: center;
  margin-inline: auto;
  color: rgba(255, 255, 255, 0.6);
}

#results {
  text-align: center;
  font-size: 3rem;
  color: rgb(241, 241, 241);
}

button {
  display: block;
  width: 150px;
  height: 35px;
  margin-left: 90px;
  margin-top: 25px;
  background-color: #fff;
  padding: 0 30px;
  border-radius: 8px;
  color: #212121;
  text-decoration: none;
  border: 2px solid #212121;

  cursor: pointer;
  font-size: 25px;
}

h1 {
  padding-left: 15px;
  padding-top: 25px;
}

input {
  width: 100% !important;
}